.about-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 600px) {
  .about-main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .page-logo {
    display: none;
  }
}
.page-logo {
  width: 300px;
  border-style: solid;
  border-width: 0px 3px 0px 0px;
  border-color: #00acbb;
}
.about-container {
  display: flex;
  flex-direction: row;
}

.about-names {
  display: flex;
  text-align: end;
  align-items: center;
  border-style: solid;
  border-width: 0px 3px 0px 0px;
  padding: 10px;
}
@media (max-width: 600px) {
  .about-container {
    flex-direction: column;
  }
  .about-names {
    text-align: center;
    border-style: hidden;
  }
}
.about-names ul {
  list-style: none;
}
.github-logo {
  width: 100px;
}
.about-repo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
