body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #00acbb;
  background-color: #fdf6fe;
}
button {
  font-family: "Montserrat", sans-serif;
  border-style: none;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  font-size: 1.2rem;
  background-color: #151f28;
  color: white;
}

button:disabled {
  cursor: default;
  opacity: 50%;
}
#check {
  clip-path: circle(46% at 50% 50%);
}
