body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #00acbb;
  background-color: #fdf6fe;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

#root {
  min-height: 100vh;
}

.search-results-msg {
  font-size: 1.2em;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

button {
  font-family: "Montserrat", sans-serif;
  border-style: none;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  font-size: 1.2rem;
  background-color: #151f28;
  color: white;
}

button:disabled {
  cursor: default;
  opacity: 50%;
}

:root {
  --form-control-color: #e27396;
  --form-control-disabled: #959495;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.ingredients-label {
  font-size: 1.2em;
  font-weight: bold;
}

.form-input-ingredients {
  width: 300px;
  line-height: 1.2em;
  font-size: 1.2em;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
}

.search-recipes-form {
  display: flex;
  align-items: baseline;
  gap: 8px;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: flex-end;
}

.form-control {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2em;
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.form-control + .form-control {
  margin-top: 0.8em;
}

.form-control--disabled {
  color: var(--form-control-disabled);
  cursor: not-allowed;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  -moz-appearance: none;
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  -webkit-clip-path: polygon(
    14% 44%,
    0 65%,
    50% 100%,
    100% 16%,
    80% 0%,
    43% 62%
  );
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);
  color: var(--form-control-disabled);
  cursor: not-allowed;
}

.day-letter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
.day-letter--active {
  border-radius: 50%;
  border-style: solid;
}

.recipe-digest {
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.recipe-calories {
  margin: 0;
}

.card-bottom {
  margin-top: 30px;
  height: 20%;
}
.recipe-digest__diet-labels {
  text-transform: uppercase;
}

.recipe-title {
  text-align: center;
  padding: -30px;
}

.recipe-calories {
  font-weight: 900;
}

.not-found {
  text-align: center;
  padding: 20px;
}

.diet-labels__item {
  padding: 10px;
}

.heart-container {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  align-items: flex-end;
}

.heart-button {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
  stroke: white;
  stroke-width: 70px;
  width: auto;
  height: auto;
}

.heart-button--active {
  margin: 0;
  color: #e7084f;
  background-color: rgba(0, 0, 0, 0);
  width: auto;
  height: auto;
}
